HAS_HEADER=1       # booleano, verifica se o .csv tem cabeçalho e ignora, use como valor 0 ou 1
WRITE_HEADER=1     # booleano, escreve o mesmo cabeçalho se houver e se esta opção estiver habilitada, use como valor 0 ou 1
SPLIT_METHOD=lines # metodo de divisão, linhas (lines) ou partes (parts)
NUM_LINES=1000     # numero de linhas
NUM_PARTS=2        # número de partes